.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url('http://bit.ly/2gPLxZ4');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
}

.app__left {
  width: 25%;
  height: 100%;
  padding: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
