.gameActionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameActionButtons button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.2s linear;
  margin: 0 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}

.gameActionButtons button:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.gameActionButtons button:disabled {
  background: rgba(0, 0, 0, 0.2);
}

.gameActionButtons button:disabled:hover {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}
